<div class="card">
  <div class="card-header text-center">
    <h4>Carrito</h4>
  </div>
  <div class="card-body">
    <ng-container *ngIf="emptyCart > 0">
      <app-cart-item
        *ngFor="let item of itemsCart$ | async"
        [item]="item"
      ></app-cart-item>
    </ng-container>
    <ng-container *ngIf="emptyCart == 0">
      <p class="text-center fs-5">El carrito esta vacio.</p>
    </ng-container>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-success w-50">
      <i class="bi bi-cash"></i> Total {{ total | currency : "S/." }}
    </button>
  </div>
</div>
