.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.5rem;
    margin: 0.5rem;
}
.image{
    width: 40px;
}
.detail{
    width: 70%;
}
.title{
    text-transform: capitalize;
    font-weight: bold;
    padding-top: 0;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
}

.amout{
    text-decoration: underline;
}

.disabled-link {
    pointer-events: none;
    color: gray;
    text-decoration: none;
  }
  