.card-hover:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
  }

  .card-body{
    display: flex;
    justify-content: space-between;
  }

  .card-body img{
    border-radius: 50%;
    height: 80px;
  }

  .card-title{
    text-transform: capitalize;
  }